<!--
BEST-specific:
this file is used by commons.xml to build tomcat-users.xml at parade installation. 
-->
<tomcat-users>
  <user name="###USER###" password="###PASS###" roles="manager" />
</tomcat-users>
